.card {
  background-color: #fff;
  padding: 24px;
  margin: 42px;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  cursor: pointer;
  position: relative;
  width: 250px;
}

.card img {
  margin-top: 24px;
  align-self: center;
}

.title {
  font-weight: 600;
  margin-top: 14px;
}

.description {
  color: #848484;
  font-weight: 300;
  max-width: 174px;
  font-size: 12px;
  margin-top: 8px;
}

.price {
  font-weight: 600;
  font-size: 18px;
  margin-top: 8px;
  color: #fdc844;
}

.offer {
  top: 8px;
  right: 12px;
  position: absolute;
  align-self: flex-end;
  margin-bottom: 12px;
  background-color: #ff2351;
  color: #fff;
  padding: 2px 8px;
  border-radius: 8px;
}

.offer p {
  font-size: 12px;
  font-weight: 500;
}

.disable:after {
  content: '';
  position: absolute;
  z-index: 999;
  cursor: default;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 8px;
}

.enterLeft {
  opacity: 0;
  transform: translateX(-20px);
  animation: enterLeft .3s forwards;
}

@keyframes enterLeft {
  to {
    opacity: 1;
    transform: initial;
  }
}

@media (max-width: 480px){

  .title {
    font-weight: 600;
    margin-top: 14px;
  }

  .card {
    
    flex-direction: row;
    border-radius: 8px;
    width: 90vw;
    max-width: 100vw;
    margin: 21px 0px 21px 0px;
    border: 1px solid #dadada;
  }

  .card img {
    margin-right: 16px;
    align-self: flex-start;
    max-width: 80px;
  }

}