.radioPayment {
  margin-top: 24px;
}

.radio {
  cursor: pointer;
  margin-right: 12px;
}

.label {
  color: #848484;
  font-size: 16px;
}

.label:nth-child(2){
  margin-left: 40px;
}

.label:nth-child(3){
  margin-left: 40px;
}