.item {
  border-bottom: 1px solid #dadada;
  padding: 24px 0px;
  display: flex;
  align-items: center;
}

.quantity {
  display: flex;
  align-items: center;
}

.quantity p {
  margin-right: 8px;
  margin-left: 8px;
  font-size: 18px;
  font-weight: 500;
  color: #fdc844;
}

.quantity button {
  font-family: "Poppins";
  font-size: 18px;
  font-weight: 600;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.bgImage {
  background-color: rgba(253, 200, 68, .3);
  border-radius: 8px;
  width: 81px;
  height: auto;
  padding: 10px 8px;
  margin-left: 36px;
  margin-right: 28px;
}

.product{
  width: 150px;
  margin-right: 10px;
}

.product h4 {
  font-size: 18px;
  font-weight: 600;
}

.product button {
  border: none;
  background-color: transparent;
  font-size: 12px;
  color: #848484;
  text-decoration: underline;
  cursor: pointer;
}

.price {
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  color: #fdc844;
}

.enterLeft {
  opacity: 0;
  transform: translateX(-20px);
  animation: enterLeft .3s forwards;
}

@keyframes enterLeft {
  to {
    opacity: 1;
    transform: initial;
  }
}

@media (max-width: 480px){

  .bgImage {
    width: 54px;
    height: auto;
    padding: 10px 8px;
    margin-left: 16px;
    margin-right: 16px;
  }

  .product h4 {
    font-size: 16px;
    font-weight: 600;
  }

  .product button {
    text-align: initial;
  }

  .price {
    font-size: 16px;
    margin-left: 16px;
    width: 100px;
  }

}