.cart {
  background-color: #fff;
  padding: 48px 54px;
  /*width: 30%;*/
  position: fixed;
  right: 0;
  height: 100%;
  overflow: auto;
}

.title {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 1vh;
}

.items {
  display: flex;
  flex-direction: column;
}

.none {
  font-size: 14px;
}

.total {
  display: flex;
  justify-content: flex-end;
  margin-top: 1vh;
}

.total h4:nth-child(1){
  font-size: 18px;
  font-weight: 600;
}

.price {
  margin-left: 16px;
  font-size: 18px;
  font-weight: 600;
  color: #fdc844;
}

.btn {
  display: flex;
  margin-top: 3vh;
}

.btn button {
  background-color: #ff2351;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  border: none;
  border-radius: 8px;
  width: 397px;
  height: 51px;
  cursor: pointer;
  transition: .3s;
}

.btn button:hover {
  background-color: rgb(255, 35, 51);
  transform: scale(1.01);
}

.enterLeft {
  opacity: 0;
  transform: translateX(-20px);
  animation: enterLeft .3s forwards;
}

@keyframes enterLeft {
  to {
    opacity: 1;
    transform: initial;
  }
}

@media (max-width: 480px){

  .closeCart {
    display: none;
  }

  .openCart {
    display: block;
    opacity: 0;
    transform: translateX(500px);
    animation: enterLeft .3s forwards;
  }

  .btnCloseCart {
      color: #000;
      font-weight: 600;
      font-size: 24px;
      border: none;
      cursor: pointer;
      background-color: transparent;
  }

  .title {
    margin-top: 32px;
  }

  .cart {
    width: 100%;
    padding: 16px;
    height: 100%;
  }

}