.home {
  background-color: #fafafa;
  display: flex;
}

.description {
  color: #848484;
  font-weight: 300;
  font-size: 12px;
  margin-top: 8px;
  margin-bottom: 10px;
  text-align: center;
}

@keyframes enterBadge {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@media (max-width: 480px){

  .home {
    flex-direction: column;
    background-color: #ffffff;
  }

  .btnCart {
    position: absolute;
    top: 16px;
    right: 16px;
  }

  .btnCart button {
    background-color: #ff2351;
    border: none;
    max-width: 42px;
    max-height: 42px;
    padding: 8px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
    position: relative;
  }

  .btnCart button > ion-icon {
    color: #ffffff;
  }

  .badgeQuantity {
    background-color: #ffffff;
    border: 1px solid #aa2351;
    color: #aa2351;
    padding: 4px;
    height: 18px;
    min-width: 18px;
    font-size: 12px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    border-radius: 50%;
    bottom: -2px;
    left: -4px;
    animation: enterBadge .3s forwards;
  }

}